body{
    background-color: aqua;
}
H1 {
    text-align: center;
    color: blue;
}

a {
    box-align: left;

}

.encabezado-lista {
    margin:auto;
    padding: 20px 90px 20px 0;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.formulario {
    max-width: 800px;
    margin: 0 auto;
}